*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
caches/
.tmp
native/
wrapper/
android/FakeDependency.jar
/daemon/
/.vscode/
/kotlin-profile/


# IMPORTANT FILES #
# Do not add sensitive files to the repository!
*.jks
gradle.properties
