    # Key store properties
    # Make sure this file is NOT committed to version control!
    #ПОПРОБУЙ ПЕРЕСОЗДАТЬ КЛЮЧИ
    MY_RELEASE_STORE_FILE=
    MY_RELEASE_STORE_PASSWORD=
    MY_RELEASE_KEY_ALIAS=
    MY_RELEASE_KEY_PASSWORD=
    android.useAndroidX=true
    android.enableSigs=true
    org.gradle.jvmargs=-Xmx2g