    # Key store properties
    # Make sure this file is NOT committed to version control!
    #ПОПРОБУЙ ПЕРЕСОЗДАТЬ КЛЮЧИ
    MY_RELEASE_STORE_FILE=my_release_key.jks
    MY_RELEASE_STORE_PASSWORD=
    MY_RELEASE_KEY_ALIAS=
    MY_RELEASE_KEY_PASSWORD=
    android.useAndroidX=true
    android.enableSigs=true
    org.gradle.jvmargs=-Xmx2g
    #how to create keys#
    keytool -genkey -v -keystore my_release_key.jks -alias [THERE YOUR NAME] -keyalg RSA -keysize 2048 -validity 10000
    #how to sign apk#
    ./gradlew clean
    ./gradlew assembleRelease
    #how to install apk#
    adb install app-release.apk
    #how to uninstall apk#
    adb uninstall com.cockmage.lingro